.body {
  margin: 0;
  overflow: hidden;
}

.back {
  position: fixed;
  height: 1200px;
  top: -10px;
  width: 2200px;
  left: -10px;
  
}

.Logo {
  position: relative;
  margin-left: 350px;
}

.container {
  position: absolute;
  top: 400px;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  margin-right: 400px;
  margin-left: 350px;
}

.container:hover .game,
.container:hover .button-36 {
  transform: scale(1.2);
  cursor: pointer;
}

.button-36 {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 0px 0px 10px 10px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 5rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  top: 200px;
  width: 200px;
}



.game {
  position: absolute;
  width: 200px;
  height: 250px;
  background-image: url(Hintergrund.png);
  background-size: cover;
  border-radius: 20px;
  transition: transform 0.5s;
}

.creditsPlaceHolder {
  background-image: url(credits.png);
  background-size: cover;
  width: 400px;
  height: 300px;
  margin-left: 1200px;
  position: absolute;
  top: 400px;
  transition: transform 0.5s;
  border-radius: 10px 0px 0px 10px;
  
}


.btn2{
  position: relative;
  margin-top: 1rem;
  width: 100%;
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 10px 10px 0px 0px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 5rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  top: 500px;
  width: 308px;
  height: 100px;
  margin-left: 1480px;
  top: 480px;
  transform: rotate(90deg);
  
}


@media (min-width: 768px) {


  
  .button-36 {
    padding: 0 2.6rem;
  }
  
}

@media (max-width: 2000px) {
  .Logo {
    width: 1000px;
    height: 200px;
    margin-left: 500px;
    top: 20px;
    display: flex;
    transition: 1s;
    left: 0px;
  }

  .container{
    width: 600px;
    height: 500px;
    margin-left: 400px;
    transition: 1s;
    top: 250px
  }

  .creditsPlaceHolder{
    margin-left: 1200px;
    top: 250px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    transition: 1s;

  }
  body{
    overflow: hidden;
  }

  .btn2{
    margin-left: 1470px;
    top:330px;
    transition: 1s;
  }
}


@media (max-width: 1700px) {
  .Logo {
    width: 600px;
    height: 200px;
    margin-left: 400px;
    top: 20px;
    display: flex;
    transition: 1s;
    left: 0px;
  }

  .container{
    width: 600px;
    height: 500px;
    margin-left: 200px;
    transition: 1s;
    top: 250px
  }

  .creditsPlaceHolder{
    margin-left: 800px;
    top: 250px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    transition: 1s;

  }
  body{
    overflow: hidden;
  }

  .btn2{
    margin-left: 1080px;
    transition: 1s;
  }
}




@media (max-width: 1300px) {
  .Logo {
    width: 600px;
    height: 200px;
    transform: rotate(90deg);
    margin-left: 600px;
    top: 250px;
    display: flex;
    transition: 1s;
    left: 0px;
  }

  .container{
    width: 500px;
    height: 600px;
    margin-left: 180px;
    transition: 1s;
    top: 170px
  }

  .creditsPlaceHolder{
    margin-left: 420px;
    top: 170px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    transition: 1s;

    
  }

  body{
    overflow: hidden;
  }
}


@media (max-width: 1000px) {
  .Logo {
    width: 600px;
    height: 200px;
    transform: rotate(90deg);
    margin-left: 400px;
    top: 250px;
    display: flex;
    transition: 1s;
    left: 0px;
  }

  .container{
    width: 600px;
    height: 500px;
    margin-left: 100px;
    transition: 1s;
    top: 120px
  }

  .creditsPlaceHolder{
    margin-left: 100px;
    top: 450px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    transition: 1s;

  }
  body{
    overflow: hidden;
  }
}


@media (max-width: 600px) {
  .Logo {
    width: 600px;
    height: 200px;
    transform: rotate(90deg);
    margin-left: 130px;
    top: 250px;
    display: flex;
    transition: 1s;
    left: 0px;
  }

  .container{
    width: 600px;
    height: 500px;
    margin-left: 50px;
    transition: 1s;
    top: 120px
  }

  .creditsPlaceHolder{
    margin-left: 50px;
    top: 450px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    transition: 1s;

  }
  body{
    overflow: hidden;
  }
}


